.main-image {
        position: relative;
        display: table;
        width: 100%;
        height: 50vh;
        margin-bottom: 5rem;
        text-align: center;
        background: #222 no-repeat center center;
        background-size: cover;
        overflow: hidden;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        border: 10px solid #333;
        border-width: 0px 0px 5px 0px;
    }

.attrib {
      position:absolute;
      bottom:10px;
      right: 20px;
      text-align: right;
      color: #F5F5F5;
    }
    
body {
  font-size: 14pt;
  font-family: Charis SIL;
}
   
/* footer ниже*/
.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.footer-basic .lic {
  font-size:13px;
  text-align:center;
}

.footer-basic .social {
  text-align:;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:;
  text-align:;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.header-section-number::after {
  content: ".";
}

ol.example li::marker {
  content: "(" counter(list-item) ") ";
}

div.section.level3.unnumbered {
  margin-top: 50px;
}

.table.table-condensed:not(.dataTable) {
  border: 1px solid black;
}

.table.table-condensed:not(.dataTable) thead tr th {
   border: 1px solid black;
}

.table.table-condensed:not(.dataTable) tbody tr td {
   border: 1px solid black;
}

ol.example li ol li::marker{
   content: counter(list-item, lower-alpha) ". ";
}

